#table_id {
  background-color: red;
  width: 40rem;
  border: 2px solid black;
}

/* body {
  background-image: url("../img/food3.jpg");
} */

.footballTeamName {
  text-transform: uppercase;
  color: red;
  text-decoration: underline;
  font-weight: 700;
}
