* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bannertop {
  height: 427px;
  background-image: url("../img/home/food-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  margin-left: -15px;
  margin-top: -29px;
}

.content {
  background-color: white;
  margin: 3rem auto;
  max-width: 100rem;
}

.setin {
  padding: 0rem 2rem;
}

.title {
  text-align: center;
  font-size: 38px;
  padding: 3rem 2rem;
}

@media only screen and (max-width: 37.5em) {
  .title {
    font-size: 20px;
    background-color: red;
  }
}
@media only screen and (min-width: 37.6em) {
  .title {
    font-size: 20px;
    background-color: yellow;
  }
}
@media only screen and (min-width: 62.5em) {
  .title {
    font-size: 22px;
    background-color: pink;
  }
}
@media only screen and (min-width: 68.75em) {
  .title {
    font-size: 26px;
    background-color: blue;
  }
}
@media only screen and (min-width: 75em) {
  .title {
    font-size: 30px;
    background-color: orange;
  }
}
@media only screen and (min-width: 93.75em) {
  .title {
    font-size: 34px;
    background-color: purple;
  }
}
@media only screen and (min-width: 112.5em) {
  .title {
    font-size: 38px;
    background-color: green;
  }
}

.terms-font-size {
  font-size: 12px;
}

@media only screen and (max-width: 37.5em) {
  .terms-font-size {
    font-size: 10px;
    background-color: red;
  }
}
@media only screen and (min-width: 37.6em) {
  .terms-font-size {
    font-size: 10px;
    background-color: yellow;
  }
}
@media only screen and (min-width: 62.5em) {
  .terms-font-size {
    font-size: 12px;
    background-color: pink;
  }
}
@media only screen and (min-width: 68.75em) {
  .terms-font-size {
    font-size: 12px;
    background-color: blue;
  }
}
@media only screen and (min-width: 75em) {
  .terms-font-size {
    font-size: 12px;
    background-color: orange;
  }
}
@media only screen and (min-width: 93.75em) {
  .terms-font-size {
    font-size: 12px;
    background-color: purple;
  }
}
@media only screen and (min-width: 112.5em) {
  .terms-font-size {
    font-size: 12px;
    background-color: green;
  }
}

.terms-font-subhead {
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 37.5em) {
  .terms-font-subhead {
    font-size: 10px;
    background-color: red;
  }
}
@media only screen and (min-width: 37.6em) {
  .terms-font-subhead {
    font-size: 10px;
    background-color: yellow;
  }
}
@media only screen and (min-width: 62.5em) {
  .terms-font-subhead {
    font-size: 12px;
    background-color: pink;
  }
}
@media only screen and (min-width: 68.75em) {
  .terms-font-subhead {
    font-size: 14px;
    background-color: blue;
  }
}
@media only screen and (min-width: 75em) {
  .terms-font-subhead {
    font-size: 14px;
    background-color: orange;
  }
}
@media only screen and (min-width: 93.75em) {
  .terms-font-subhead {
    font-size: 16px;
    background-color: purple;
  }
}
@media only screen and (min-width: 112.5em) {
  .terms-font-subhead {
    font-size: 16px;
    background-color: green;
  }
}

.line {
  border-top: 0.5px solid black;
  margin: 3rem 0rem;
  opacity: 0.2;
}

ul li {
  list-style: none;
  padding-bottom: 2rem;
}
