* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bannertop {
  height: 427px;
  background-image: url("../img/home/food-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  margin-left: -15px;
  margin-top: -29px;
}

.content {
  background-color: white;
  margin: 3rem auto;
  width: 100rem;
}

.setin {
  padding: 0rem 2rem;
}

.title {
  text-align: center;
  font-size: 38px;
  padding: 3rem 2rem;
}

.terms-font-size {
  font-size: 12px;
}

.terms-font-subhead {
  font-size: 16px;
  font-weight: 600;
}

.line {
  border-top: 0.5px solid black;
  margin: 3rem 0rem;
  opacity: 0.2;
}

ul li {
  list-style: none;
  padding-bottom: 2rem;
}
