/* @media only screen and (max-width: 37.5em) {
  .topgrid {
    font-size: 20px;
    background-color: red;
  }
}
@media only screen and (max-width: 37.6em) {
  .topgrid {
    font-size: 20px;
    background-color: yellow;
  }
} */
/* @media only screen and (max-width: 62.5em) {
  .topgrid {
    margin: 0rem 3rem;
  }
} */

/* @media only screen and (max-width: 62.5em) {
  .middle {
    width: 10rem;
  }
} */

/* @media only screen and (max-width: 62.5em) {
  .benefitsgrid {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(3, min-content);
    margin: 0rem 3rem;
    column-gap: 10rem;
  }
} */

/* @media only screen and (max-width: 62.5em) {
  .faqgrid {
    max-width: 100rem;
    margin: 0rem auto;
  }
} */
