/* .topgrid {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
  max-width: 100rem;
  margin: 0rem auto;
  gap: 3rem;
} */

/* .benefitsgrid {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(2, min-content);
  width: 100rem;
  margin: 0rem auto;
  gap: 3rem;
} */

/* .faqgrid {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content);
  max-width: 100rem;
  margin: 0rem auto;
  gap: 3rem;
} */

/* basic code all page */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

main {
  height: max-content;
}

/* ---------------------------------------------------------- */

/* header all pages */

/* ---------------------------------------------------------- */

/* Footer all pages */

/* footer top */

.footer-top {
  text-align: center;
}

#email {
  width: 30%;
  height: 4.8rem;
}

/* footer list  */

.list ul li {
  list-style: none;
}

.list ul li a {
  text-decoration: underline;
  color: black;
  line-height: 3rem;
}

.list ul li a:hover {
  text-decoration: none;
  color: blue;
}

/* bold word */

.border {
  border: solid 1px green;
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 1rem;
}

.border-button {
  border: solid 1px green;
  background-color: green;
  color: white;
  border-radius: 0 5px 5px 0;
  margin-left: -10px;
  height: 5rem;
  width: 10rem;
  font-size: 2rem;
}

/* bottom section footer images */

.row2 {
  display: flex;
}

.titles {
  font-weight: 700;
  font-size: 2rem;
}

.position-right {
  text-align: right;
  margin-top: -1.5rem;
}

.app-links {
  text-align: right;
}

.align-left {
  text-align: left;
}

.img-block {
  display: inline;
}

/* footer javascript css */

.country-location {
  text-align: right;
}

/* fontawesome icons style */

.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter-square {
  color: #00acee;
}
.fa-instagram-square {
  color: #3f729b;
}

#email::-webkit-input-placeholder {
  padding-left: 1rem;
}

/* ---------------------------------------------------------- */

/* resuable code */

.pad-sm-bottom {
  margin-bottom: 2rem;
}

.pad-med-bottom {
  margin-bottom: 5rem;
}

.pad-lar-bottom {
  margin-bottom: 7rem;
}

.pad-sm-top {
  margin-top: 1rem;
}

.pad-med-top {
  margin-top: 5rem;
}

.pad-lar-top {
  margin-top: 17rem;
}

.hov:hover {
  text-decoration: none;
  color: blue;
}

.space-line {
  border: 1px solid grey;
  width: 100%;
  margin-bottom: 2rem;
}

.center-text-huge {
  padding-left: 30rem;
}

.center-text-LR {
  padding-left: 15rem;
  padding-right: 15rem;
}

.center-text-LR2 {
  padding-left: 13rem;
  padding-right: 13rem;
}

.center-text-TP {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.sm-size {
  width: 10rem;
  height: 5rem;
}

.med-size {
  width: 15rem;
  height: 5rem;
}

.lar-size {
  width: 30rem;
  height: 25rem;
}

.line-height-sm {
  line-height: 3rem;
}

.spacing-sm {
  margin-right: 0.5rem;
}

.spacing-med {
  margin-right: 1.5rem;
}

.underline {
  text-decoration: underline;
}

/* ---------------------------------------------------------- */

/* pop ups */
.popUp {
  display: flex;
}

.mainImg {
  float: left;
  width: 50%;
}

.popTitle {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.subText {
  float: left;
}

.rightSide {
  float: right;
  padding-left: 3rem;
  font-size: 1.5rem;
}

#input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.popUpButton {
  border: solid 1px green;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  height: 5rem;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.popUpButton2 {
  text-transform: uppercase;
  border: none;
  background-color: white;
  color: green;
  height: 5rem;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 3rem;
}
*/

/* ---------------------------------------------------------- */

/* Home page */

/* top section - 4 boxes images */

.cursor img {
  cursor: pointer;
}

.hideBoxes {
  display: none;
}

/* middle section */

h2 {
  font-size: 3rem;
}

/* middle section  */

#food-plan-section {
  margin-top: 120px;
}

#food-plan-section h2 {
  text-align: center;
}

.food-plan-option {
  margin-left: 60px;
}

.food-plan-option p {
  max-width: 400px;
}

#food-plan-section .fas {
  float: left;
  color: green;
  font-size: 20px;
}

/* ---------------------------------------------------------- */

/* about page */

/* ---------------------------------------------------------- */

/* contact page */

/* ---------------------------------------------------------- */

/* terms page */

.bannertop {
  height: 427px;
  background-image: url("../img/home/food-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  margin-left: -15px;
  margin-top: -29px;
}

.title {
  text-align: center;
  font-size: 38px;
  padding: 3rem 2rem;
}

.content {
  background-color: red;
  margin: 3rem auto;
  max-width: 100rem;
}

.setin {
  padding: 0rem 2rem;
}

.terms-font-size {
  font-size: 12px;
}

.terms-font-subhead {
  font-size: 16px;
  font-weight: 600;
}

.line {
  border-top: 0.5px solid black;
  margin: 3rem 0rem;
  opacity: 0.2;
}

ul li {
  list-style: none;
}

/* ---------------------------------------------------------- */

/* how it works page */

.sectiontitlecenter {
  text-align: center;
  margin-bottom: 7rem;
  font-weight: 700;
}

/* top section */
.grid-spacing {
  max-width: 100rem;
  margin: 0rem auto;
  /* display: flex; */
}

.imagesize {
  width: 100%;
}

.left {
  width: 30rem;
  text-align: center;
}

.middle {
  width: 30rem;
  text-align: center;
}

.right {
  width: 30rem;
  text-align: center;
}

.topbutton {
  border: solid 1px green;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  height: 4rem;
  width: 14rem;
  font-size: 1rem;
  text-transform: uppercase;
}

/* middle section */

.benefitsgrid-boot {
  max-width: 100rem;
  margin: 0rem auto;
}

.benefitbutton {
  border: solid 1px green;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  height: 5rem;
  width: 20rem;
  font-size: 2rem;
  margin-left: 44%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.benefitcontent {
  max-width: 30rem;
}

/* bottom section */

.faqgrid-boot {
  max-width: 60rem;
  margin: 0rem auto;
}

.far {
  padding-right: 1rem;
}

.questions {
  width: 44rem;
}

.margin-top {
  margin-top: 1rem;
}

.faqflex {
  display: flex;
  align-items: center;
}

.FAQSbutton {
  border: solid 1px green;
  background-color: white;
  color: green;
  border-radius: 0.5rem;
  height: 5rem;
  width: 20rem;
  font-size: 2rem;
  margin-left: 44%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
